html  
  scroll-behavior: smooth
  box-sizing: border-box
  scrollbar-width: none
  scroll-padding-top: 60px
body   
  --appBg: #303030
  --transparentBg: rgba(255, 255, 255, 0)
  --logoFirst: white
  --logoSecond: #726DFE 
  --hamburgerIcon: #ffffff91
  --navbarBg: #252424
  --navbarIcons: white
  --navbarActiveComponent: white
  --navbarHoverBg: #9292924f
  --borderColor: #414040

  --navigationBg:  #252424 
  --navigationLink: #ffffffad
  --navigationElement: #ffffffad
  --navigationArrow: #8b87fb 
  --navigationLinkHover: rgb(255, 255, 255)
  --navigationBorderHover: #726DFE
  --navigationBgHover: #42424269
  --navigationIconBgHover: #5f5e5e9f

  --contentBg: #303030  
  --contentMainTitle: #bbbbbb
  --contentSectionTitle: rgba(255, 255, 255, 0.863)
  --contentSectionTitleBorder: rgba(200, 211, 200, 0.274)
  --contentSectionSubtitle: rgba(200, 211, 200, 0.808)
  --contentSectionText: white
  --contentStartArrow: rgba(255, 255, 255, 0.863)
  --contentStartText: rgba(255, 255, 255, 0.863)
  --listBullet: rgba(237, 244, 250, 0.42)
  
  box-sizing: border-box
  color: white
  font-family: 'Roboto'
  line-height: 35px
  font-size: 20px
  background: #303030
  margin: 0
  padding: 0
  background-attachment: fixed
  overflow-x: hidden
  img
    display: block
    margin: 2em auto 2em auto

body.light2
  --logoFirst: white
  --logoSecond:rgb(97, 218, 251)
  --hamburgerIcon: rgb(97, 218, 251)
  --navbarBg: #20232a
  --navbarIcons: white
  --navbarActiveComponent: white
  --navbarHoverBg: white
  --borderColor: rgb(236, 236, 236)
  --navigationBg: rgb(247, 247, 247)
  --navigationLink: black
  --navigationArrow: rgb(72, 162, 187)
  --navigationLinkHover: white
  --navigationBorderHover: rgb(97, 218, 251)
  --navigationBgHover: pink
  --contentBg: #FFFFFF 
  --contentMainTitle: rgb(40, 44, 52)
  --contentSectionTitle: rgb(40, 44, 52)
  --contentSectionTitleBorder: rgb(97, 218, 251)
  --contentSectionSubtitle: rgb(40, 44, 52)
  --contentSectionText: black
  --contentStartArrow: rgb(97, 218, 251)
  --contentStartText: black
body.light
  --logoFirst: white
  --logoSecond: #9a95f8
  --hamburgerIcon: white
  --navbarBg: #20232A
  --navbarIcons: white
  --navbarActiveComponent: white
  --navbarHoverBg: #eaeaec4b
  --borderColor: #eaeaec4b
  --navigationBg: #FFFFFF
  --navigationLink: #2B3343
  --navigationArrow: #5750EC 
  --navigationLinkHover: #2B3343
  --navigationBorderHover: #5750EC
  --navigationBgHover: #eaeaecc0
  --contentBg: #F8F9FD  
  --contentMainTitle: #040E4B
  --contentSectionTitle: #040E4B
  --contentSectionTitleBorder: yellow
  --contentSectionSubtitle: #040E4B
  --contentSectionText: #2B3343
  --contentStartArrow: green
  --contentStartText: #2B3343
.text-container  
  margin: auto
  background-color: var(--contentBg)
  padding: 0 0 2em 0
  height: 100%
  min-height: 95vh 
  transition: 1s
  width: 100%
.text-container-full
  padding: 0
  transition: 1s

$a-tags: 'a, a:active, a:hover, a:visited'

#{$a-tags}   
  text-decoration: none

.text-box
  margin-bottom: 0em
  padding: 0em 0 0em 0
  margin-left: 0em  
  width: 100%
  & > ul
    padding-left: 15rem

.title h1
  font-size: 50px
  color: rgba(255, 255, 255, 0.829)
  text-align: center
  margin: 1em
  font-family: 'Oswald'

h2
  padding: 0em 0 0.5em 0em
  margin-top: 3rem
  font-weight: 400
  font-size: 2.4em
  color: var(--contentSectionTitle)
  margin-bottom: 0em
  margin-left: 1.5em
  font-family: 'Oswald'
  border-style: solid
  border-color: var(--contentSectionTitleBorder)
  border-width: 0 0 1px 0px
  display: inline-block 
  
  
.section-title
  width: 100%
  cursor: pointer
  padding-top: 1em  
  padding-bottom: 0.8em
  &:hover 
    background-color: #3f3f3f
    transition: 0.2
  
.main-container
  display: flex
  top: 60px    
  margin-left: auto
  margin-right: auto
  width: 100%
.content 
  width: calc(100% - 280px)  
.app-container
  display: flex
  justify-content: center
  background-color: var(--appBg) 
.start-container
  height: 700px
  display: flex
  flex-direction: column
  align-content: center
  padding-top: 10em
  width: 100%  
  transition: 1s
.start-container-full
  transition: 1s
  padding-right: 0
.logo-container img
  width: 80px
  height: 80px
  margin: 0
/* Poppins, Oswald, Roboto, Montserrat, Dosis, Julius Sans One, Cormorant Infant
/* Cormorant Garamond, Dancing Script, Open Sans, Open Sans Condensed, Raleway 
.logo-title, .logo-subtitle
  line-height: 50px
  height: 50%
  color: var(--contentMainTitle)
  font-family: Montserrat

.logo-title
  font-size: 3.5em
  padding-left: 0.1em
.logo-title-container
  display: flex
  flex-direction: column
  justify-content: center

.logo-subtitle
  height: 50%
  font-size: 3em

.logo-image-container
  width: 100px
  height: 100px
  display: flex
  flex-direction: column
  justify-content: center
.logo-container
  display: flex
  text-align: left
  justify-content: center

.code-flow
  display: flex
  align-items: center
  margin: auto
  width: 100%
  margin-bottom: 1em
  margin-top: 1em

  pre
    width: 50%
    height: auto

  p
    font-size: 3em

.links
  margin: auto
  text-align: center
  display: flex
  justify-content: center

  a
    margin: 1em

.basics-container
  display: flex
  flex-direction: column
  margin: auto
  width: 80%
  padding-top: 12em

.basics-title
  text-align: left
  color: rgb(187, 187, 187)
  text-decoration: none
  font-family: Montserrat
  font-size: 1.2em

.basics-links
  display: flex
  flex-direction: row
  flex-wrap: wrap

.basics-link
  text-align: center
  width: 18%
  border-width: 0 1px 0 0
  border-style: solid
  border-color: rgb(87, 86, 86)

  &:last-child
    border-width: 0px
    width: 27%

  a
    color: var(--contentStartText)
    text-decoration: none
    font-family: Roboto
    font-size: 1em
    transition: 0.2s
    font-weight: 100

    &:hover
      color: white

.arrow
  padding-top: 8em
  margin: auto
  display: flex
  justify-content: center

  img
    opacity: 0.6

    &:hover
      opacity: 1

  a
    display: inline-block
    width: 40px
    height: 50px
    cursor: pointer

.important
  font-size: 1.2em
  margin-left: 0.2em
  margin-right: 0.2em
  letter-spacing: 2px
  color: rgba(200, 211, 200, 0.808)
  font-weight: 500

h3
  font-size: 1.8em
  color: var(--contentSectionSubtitle)
  font-family: 'Oswald'
  font-weight: 100
  padding: 0.6em 3em 0.6em 3em
  cursor: pointer
  margin: 0.5em 0 0.5em 0
ul
  padding-left: 7rem
  padding-right: 5em
  display: none
.no-bullet
  padding-left: 6em
.text-section
  padding-right: 5em
  display: none
  padding-left: 5.5em
  color: var(--contentSectionText)
  a
    color: var(--navigationArrow)
    text-decoration: none
    display: block
    margin: 1rem 0 1rem 0


    
ul 
  li:before 
    content: '✓'
    padding-right: 0em
    margin-left: -3rem
    margin-right: 2rem
    font-weight: 700
    color: var(--listBullet)
    font-size: 1.2em
ul 
  list-style-type: none
ul
  li
    margin-left: -3rem
    margin-bottom: 0.2rem
  ol 
    margin-left: 4rem
    margin-top: 1rem
    li:before 
      content: ''
      margin: 0
      margin-left: 0.4rem
ol 
  li:before 
    content: ''
    margin-left: 0.4rem !important
     


pre
  margin-top: 1em !important
  margin-bottom: 1em !important 
  background-color:#252424 !important
  padding: 1rem !important
  border-radius: 5px !important
  margin-left: 2rem !important
  margin-right: 4rem !important

.start-container-jest
  text-align: center
h3:hover
  background-color: #3f3f3f
  transition: 0.2s

.language-css
  margin-top: 1em !important
  margin-bottom: 1em !important
.table-of-contents
  width: 280px 
.navigation-container
  width: 280px
  display: block
  border-style: solid
  border-width: 1px 1px 0 0
  border-color: rgba(82, 82, 82, 0.876)
  transition: 1s  
  background-color:  var(--navbarBg)
  min-width: 280px
  overflow: auto 
  overflow-x: hidden
  position: fixed
  bottom: 0
  top: 60px
  scrollbar-width: thin
.disabled
  transform: translateX(-100%) 
  transition: 1s  
  display: none

.navigation  
  left: 0 
  width: 280px  
  flex-direction: column
  display: flex
  align-items: top 
  border-style: solid
  border-width: 0 0 0 0px
  border-color: rgba(255, 255, 255, 0.438)  
  border-style: solid
  border-width: 0 1px 0 0
  border-color: rgba(82, 82, 82, 0.876)
  transition: 1s  
  background-color: var(--navigationBg)
  min-height: 90vh
  
 
.navigation-box
  text-decoration: none
  color: var(--navigationLink)
  font-family: Open Sans
  display: flex
  justify-content: space-between    
  letter-spacing: 1px
  font-weight: 400
  width: 100%
  padding-top: 0rem
  padding-bottom: 0rem
  padding-left: 4px 
  &:hover   
    background-color: var(--navigationBgHover)
  a
    text-decoration: none
    color: var(--navigationLink)
  
.navigation-title
  padding-left: 30px 
  font-size: 0.9em
  height: 100%
  width: calc(100% - 50px)
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  &:hover
    padding-left: 26px
    color: var(--navigationLinkHover)    
    border-style: solid
    border-color: var(--navigationBorderHover)
    border-width: 0 0 0 4px
    
.navigation-icon 
  color: var(--navigationArrow)
  cursor: pointer
  width: 50px
  display: flex
  justify-content: center
  align-items: center
  &:hover
    background-color: var(--navigationIconBgHover)   
.top-navbar-github-link
  color: white
  &:hover
    background-color: #fffafa1a
   
.navigation-list-container
  padding-left: 5rem
  color: var(--navigationElement)
  margin-top: -0.2rem
  &:last-child
    background-color: red !important
.navigation-list-element
  margin-top: 0.5rem
  position: relative
  font-size: 1rem
.navigation-list-element
  display: flex
  a
    text-decoration: none
    color: var(--navigationLink)
    &:hover
      color: white
    &::after
      content: ''
      position: absolute
      width: 17px
      height: 1px
      background-color: var(--borderColor)   
      left: -27px
      top: 17px
  &::before
    content: ''
    position: absolute
    width: 3px
    height: 3px
    background-color: var(--navigationLink)
    left: -30px
    top: 16px
    border-radius: 50%  
  &::after
    content: ''
    position: absolute
    width: 1px
    height: 40px
    background-color: var(--borderColor)   
    left: -29px
    top: -24px    
/* Poppins, Oswald, Roboto, Montserrat, Dosis, Julius Sans One, Cormorant Infant
/* Cormorant Garamond, Dancing Script, Open Sans, Open Sans Condensed, Raleway 
.navigation-list-element
  display: flex
  &:nth-of-type(1)
    &::after
      content: ''
      position: absolute
      width: 1px
      height: 18px
      background-color: var(--borderColor)   
      left: -29px
      top: -4px       

.navigation-jest
  justify-content: flex-start
  a
    margin-top: 1em

.navigation-cleancode
  justify-content: flex-start
  a
    margin-top: 1em

.navigation-docker
  justify-content: flex-start
  a
    margin-top: 0.5rem

.main-links 
  left: 0
  bottom: 0
  width: 15%
  display: flex
  align-items: top
  margin-top: 1em
  position: fixed
  justify-content: space-evenly

  a
    text-decoration: none
    color: white
form
  padding: 1em
  display: flex

.formcolumn
  width: 50%

.closed
  .vertical
    transition: all 0.5s ease-in-out
    transform: rotate(-90deg)

  .horizontal
    transition: all 0.5s ease-in-out
    transform: rotate(-90deg)
    opacity: 1

.visible
  display: block !important
  opacity: 1
.invisible
  display: none
.opened
  background-color: rgba(255, 255, 255, 0)

  .vertical
    transition: all 0.5s ease-in-out
    transform: rotate(90deg)

  .horizontal
    transition: all 0.5s ease-in-out
    transform: rotate(90deg)
    opacity: 0

.always-visible
  display: block !important
  opacity: 1 !important

.circle-plus
  height: 2.5em
  width: 2.5em
  margin-left: 15px
  font-size: 0.4em
  opacity: 0.8
  cursor: pointer
  display: inline-block

  .circle
    position: relative
    width: 2.55em
    height: 2.5em
    border-radius: 100%
    background-color: white

    .horizontal
      position: absolute
      background-color: rgb(90, 131, 179)
      width: 15px
      height: 2.5px
      left: 50%
      margin-left: -8px
      top: 80%
      margin-top: -7px

    .vertical
      position: absolute
      background-color: rgb(90, 131, 179)
      width: 2.5px
      height: 15px
      left: 50%
      margin-left: -2px
      top: 50%
      margin-top: -7px

.bonus
  display: none
  margin-left: 2em



/* Navbar */
.top-navbar
  width: 100%
  height: 60px
  position: fixed
  top: 0
  background-color: var(--navbarBg)
  border-style: solid
  border-width: 0 0 1px 0
  border-color: #414040
.top-navbar-container
  width: 100%
  display: flex
  justify-content: space-between
  height: 100%
.top-navbar-left
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding-left: 1rem
.top-navbar-hamburger
  display: flex
  flex-direction: column
  justify-content: flex-start
  cursor: pointer
.top-navbar-hamburger-line
  width: 20px
  height: 2px
  background-color: var(--hamburgerIcon)
  margin: 2px 
.top-navbar-logo
  text-transform: uppercase
  font-size: 1.7rem
  font-family: Poppins
  color: var(--logoFirst)
  display: flex
  padding-left: 1rem
  text-decoration: none
  height: 100%
  padding-right: 1rem
.top-navbar-logo-colored
  color: var(--logoSecond)
  padding-left: 0.5rem
  text-align: center
  vertical-align: center
  display: flex
  justify-content: center
  align-items: center
.top-navbar-logo-white
  text-align: center
  vertical-align: center
  display: flex
  justify-content: center
  align-items: center
.top-navbar-right
  display: flex
  justify-content: center
  align-items: center
  padding-right: 2rem
.top-navbar-icons
  display: flex
  font-size: 1.5rem 
.top-navbar-active-component
  margin-right: 1rem
  padding: 0 1.7rem 0 1.7rem
  width: 150px
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  position: relative
  color: var(--navbarActiveComponent)
  &:hover
    background-color: var(--navbarHoverBg)
    cursor: pointer
    transition: 0.2s    
.top-navbar-active-component-arrow
  margin-left: 1.5rem
  font-size: 1.5rem
  color: var(--navbarIcons)
.top-navbar-icon
  margin: 1rem 
.top-navbar-dropdown
  position: absolute
  top: 60px
  background-color: #252424
  width: 100%
  display: flex
  justify-content: center
  text-align: center
  border-radius: 0 0 5px 5px
.nav-option
  width: 100%
  height: 60px
  display: flex
  justify-content: center
  text-align: center
  align-items: center
  text-decoration: none
  color: white
  &:hover
    background-color: #9292924f
.top-navbar-dropdown-container
  width: 100%
 
   
 
/* Settings */ 

.settings-dropdown
  position: absolute
  width: 250px
  height: 100px
  background-color: var(--navbarBg)
  top: 60px
  right: 85px
.settings-dropdown-container
  width: 100%
  height: 100%
  padding: 1rem
.settings-option
  cursor: pointer




.my-node-enter 
  opacity: 0

.my-node-enter-active 
  opacity: 1
  transition: opacity 300ms
 
.my-node-exit 
  opacity: 1

.my-node-exit-active 
  opacity: 0
  transition: opacity 300ms



@media only screen and (max-width: 1700px)
  .navigation
    margin-top: 0em
    padding-left: 0.3em
    font-size: 0.9em

