/* PrismJS 1.20.0
 *https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia

code[class*="language-"]
  color: #f8f8f2
  background: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.3)
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  font-size: 1em
  text-align: left
  white-space: pre
  word-spacing: normal
  word-break: normal
  word-wrap: normal
  line-height: 1.5
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4
  -webkit-hyphens: none
  -moz-hyphens: none
  -ms-hyphens: none
  hyphens: none

pre[class*="language-"]
  color: #f8f8f2
  background: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.3)
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  font-size: 1em
  text-align: left
  white-space: pre
  word-spacing: normal
  word-break: normal
  word-wrap: normal
  line-height: 1.5
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4
  -webkit-hyphens: none
  -moz-hyphens: none
  -ms-hyphens: none
  hyphens: none
  padding: 1em
  margin: .5em 0
  overflow: auto
  border-radius: 0.3em

/* Code blocks

\:not(pre) > code[class*="language-"], pre[class*="language-"]
  background: #272822

/* Inline code

\:not(pre) > code[class*="language-"]
  padding: .1em
  border-radius: .3em
  white-space: normal

.token
  &.comment, &.prolog, &.doctype, &.cdata
    color: slategray

  &.punctuation
    color: #f8f8f2

  &.namespace
    opacity: .7

  &.property, &.tag, &.constant, &.symbol, &.deleted
    color: #f92672

  &.boolean, &.number
    color: #ae81ff

  &.selector, &.attr-name, &.string, &.char, &.builtin, &.inserted
    color: #a6e22e

  &.operator, &.entity, &.url
    color: #f8f8f2

.language-css .token.string, .style .token.string
  color: #f8f8f2

.token
  &.variable
    color: #f8f8f2

  &.atrule, &.attr-value, &.function, &.class-name
    color: #e6db74

  &.keyword
    color: #66d9ef

  &.regex
    color: #fd971f

  &.important
    color: #fd971f
    font-weight: bold

  &.bold
    font-weight: bold

  &.italic
    font-style: italic

  &.entity
    cursor: help