.homepage-container 
    display: flex
    flex-direction: column
    margin: auto
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100%
    justify-content: center
    align-items: center
    z-index: -99
    a
        color: white
        text-decoration: none
    
        

.homepage-title
    font-family: Poppins
    color: #f5f5f5
    font-size: 2rem

.homepage-tech
    margin-top: 5rem
    width: 10rem
    height: 12rem
    padding: 1rem
    text-align: center
    img
        width: 3.5rem
    &:hover
        background-color: #555555
        cursor: pointer
        border-radius: 5px
        transition: 0.3s
        -webkit-transform: scale(1.1)
        color: white

.homepage-logos 
    display: flex
    width: 100%
    justify-content: center



    